/**
 * Класс label
 */
.labelRadio {
  display: flex;
  flex-direction: row;

  gap: 10px;
}
/**
 * Соновой класс
 */
.Radio {
  display: flex;

  width: auto;
  height: auto;

  margin: 0px;
}
/**
 * Внешний вид
 */
.primary_Radio {
  color-scheme: white;
  color: white
}

.primary_Radio:hover {
  color-scheme: blue;
  color: blue;
}

.ghost_Radio {
  color-scheme: rgba(128, 128, 128, 0.486);
  color:  rgba(128, 128, 128, 0.486);
}

.ghost_Radio:hover {
  color-scheme: rgba(128, 128, 128, 0.486);
  color:  rgba(128, 128, 128, 0.486);
}
/**
 * Размер
 */
.L_Radio {
  width: 15px;
}

.L_Font {
  font-size: 18px;
}

.M_Radio {
  width: 13px;
}

.M_Font {
  font-size: 16px;
}

.S_Radio{
  width: 10px;
}

.S_Font {
  font-size: 14px;
}

.XS_Radio {
  width: 6px;
}

.XS_Font{
  font-size: 12px;
}