.Button {
  /* --control-primary-bg-bg: #358C00;

  --radius-l: 12px;
  --button-height: 48px;
  --button-padding: 0 20px;
  --button-gap: 8px;
  --control-primary-typo-text: #FAFAFA;
  --control-ghost-border-border: rgba(75, 75, 75, 0.80); */

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 12px;

  color: #FAFAFA;
}

.Button:hover {
  background-color: #296801;
}

.Primary {
  background-color:  #358C00;
}

.Secondary {
  background: rgba(250, 250, 250, 0.15);
  color: rgb(85, 170, 34);
}

.Ghost {
  border: 1px solid rgba(75, 75, 75, 0.80);
  background: rgba(18, 18, 18, 0.00);
}

.Clear {
  background: rgba(18, 18, 18, 0.00);
}

.L_button {
  min-height: 48px;
  padding: 0 20px;
  min-width: 134px;
  font-size: 18px;
}

.M_button {
  min-height: 40px;
  padding: 0 16px;
  font-size: 16px;
  min-width: 111px;
}

.S_button {
  min-height: 32px;
  padding: 0 12px;
  font-size: 14px;
  min-width: 87px;
}

.XS_button {
  min-height: 24px;
  padding: 0 8px;
  font-size: 12px;
  min-width: 79px;
}

.disabled {
  background-color: #FAFAFA26;
}

.disabled:hover {
  background-color: #FAFAFA35;
}

.loading {
  background-color: red;
}

.loading:hover {
  background-color: red;
}
