/**
 * ОСновной класс Tabs
 */
.Tabs {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  background-color: none;
  border: none;
}


/**
 * Внешний вид компонента (с рамкой или без) (VIEW)
 */
.bordered {
  border-bottom: 1px solid gray;
}

.clear {
  border-bottom: none;
}
/**
 * Размер компонента (SIZE)
 */
.M_Tabs {
  min-height: 40px;
  padding: 0 16px;
  font-size: 16px;
  min-width: 111px;
}

.S_Tabs {
  min-height: 32px;
  padding: 0 12px;
  font-size: 14px;
  min-width: 87px;
}

.XS_Tabs {
  min-height: 24px;
  padding: 0 8px;
  font-size: 12px;
  min-width: 79px;
}
/**
 * Расположение табов
 */
.bottom_Tabs {
  border-bottom: 1px solid gray;
}

.top__Tabs {
  border-top: 1px solid gray;
}

.left__Tabs {
  border-left: 1px solid gray;
}

.right__Tabs {
  border-right: 1px solid gray;
}
/**
 * При выборе
 */
.bottom_Tabs:hover {
  border-bottom: 2px solid blue;
}

.top__Tabs:hover {
  border-top: 2px solid blue;
}

.left__Tabs:hover {
  border-left: 2px solid blue;
}

.right__Tabs:hover {
  border-right: 2px solid blue;
}

.disabled {
  color: gray;
}