/**
 * Основной клсса
 */
.switchContainer {
  display: flex;
  align-items: center;

  gap: 10px;
}
/* 
* Переклбчение swich
*/
input .checkbox {
  display: none;
}

.toggleSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: .2s;
}

.toggleSwitch_befo {
  background-color: rgb(255, 255, 255);
}

.toggleSwitch_after {
  background-color: rgb(0, 112, 37);
}

.checkboxInput {
  padding: 0;
  margin: 0;
  position: absolute;
  border-radius: 50%;
  border: 0px;
  height: 25px;
  width: 25px;
  transition-duration: .2s;
}

.checkboxInput_befo {
  background-color: rgb(0, 0, 0);
  left: 1px;
}

.checkboxInput_after {
  background-color: rgb(255, 255, 255);
  left: 20px;
}
/**
 * Стилизация swich
 */
.primary_SwichToggleBefo {
  background-color: rgb(255, 255, 255);
}

.primary_SwichToggleAfter {
  background-color: rgb(0, 112, 37);
}

.primary_SwichBoxBefo {
  background-color: rgb(255, 255, 255);
}

.primary_SwichBoxBefo {
  background-color: rgb(0, 112, 37);
}
/* -------------------------------------------- */
.ghost_SwichToggleBefo {
  background-color: rgb(255, 255, 255);
}

.ghost_SwichToggleAfter{
  background-color: rgb(0, 0, 0);
}

.ghost_SwichBoxBefo {
  background-color: rgb(0, 0, 0);
}

.ghost_SwichBoxAfter {
  background-color: rgb(255, 255, 255);
}

/* ------------------------------------------- */

.primary_Swich {
  color-scheme: white;
  color: white
}

.primary_Swich:hover {
  color-scheme: blue;
  color: blue;
}

.ghost_Swich {
  color-scheme: rgba(128, 128, 128, 0.486);
  color:  rgba(128, 128, 128, 0.486);
}

.ghost_Swich:hover {
  color-scheme: rgba(128, 128, 128, 0.486);
  color:  rgba(128, 128, 128, 0.486);
}
/**
 * Размер для текста
 */
.L_Switch_Font {
  font-size: 18px;
}

.M_Switch_Font {
  font-size: 16px;
}

.S_Switch_Font {
  font-size: 14px;
}

.XS_Switch_Font{
  font-size: 12px;
}
/**
 * Размер swich
 */
.L_SwichToggle {
  width: 55px;
  height: 35px;
}

.L_SwichBox  {
  height: 30px;
  width: 30px;
}

.L_SwichBoxBefo {
  left: 1px;
}

.L_SwichBoxAfter{
  left: 20px;
}
/* ------------------------------------------- */
.M_SwichTogle {
  width: 50px;
  height: 30px;
}

.M_SwichBox {
  height: 25px;
  width: 25px;
}

.M_SwichBoxBefo {
  left: 1px;
}

.M_SwichBoxAfter {
  left: 20px
}
/* ------------------------------------------- */
.S_SwichToggle  {
  width: 40px;
  height: 20px;
}

.S_SwichBox {
  width: 16px;
  height: 16px;
}

.S_SwichBoxBefo {
  left: 1px
}

.S_SwichBoxAfter {
  left: 20px
}
/* ------------------------------------------- */
.XS_SwichToggle {
  width: 30px;
  height: 15px;
}

.XS_SwichBox {
  width: 12px;
  height: 12px;
}

.XS_SwichBoxBefo {
  left: 1px
}

.XS_SwichBoxAfter  {
  left: 15px
}
