
.switchContainer {
  display: flex;
  align-items: center;

  gap: 10px;
}

/* 
* Взято с сайта
*/
input .checkbox {
  display: none;
}

.toggleSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: .2s;
}

.toggleSwitch_befo {
  background-color: rgb(255, 255, 255);
}

.toggleSwitch_after {
  background-color: rgb(0, 112, 37);
}

.checkboxInput {
  padding: 0;
  margin: 0;
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 0px;
  height: 25px;
  width: 25px;
  transition-duration: .2s;
}

/* .toggleSwitch::after */
.checkboxInput_befo {
  background-color: rgb(0, 0, 0);
  left: 1px;
}

.checkboxInput_after {
  background-color: rgb(255, 255, 255);
  left: 20px;
}

/* #checkboxInput:checked + .toggleSwitch::after {
  transform: translateX(100%);
  transition-duration: .2s;
  border: 10px solid rgb(255, 255, 255);
} */

/* Switch background change */
/* #checkboxInput:checked + .toggleSwitch {
  background-color: rgb(4, 124, 0);
  transition-duration: .2s;
} */

/* ------------------------------------------- */

/* .primary_toggleSwitch {
  background-color: rgb(255, 255, 255)
}

.primary_toggleSwitch::after {
  border: 10px solid rgb(0, 0, 0);
}

.checkboxInput:checked + .primary_toggleSwitch::after {
  transform: translateX(100%);
  transition-duration: .2s;
  border: 10px solid rgb(255, 255, 255);
}

.checkboxInput:checked + .primary_toggleSwitch {
  background-color: rgb(4, 124, 0);
  transition-duration: .2s;
}

.ghost_toggleSwitch {
  background-color: rgb(102, 102, 102)
}

.ghost_toggleSwitch::after {
  border: 10px solid rgb(255, 255, 255);
}

.checkboxInput:checked + .ghost_toggleSwitch::after {
  transform: translateX(100%);
  transition-duration: .2s;
  border: 10px solid rgb(0, 129, 39);
}

.checkboxInput:checked + .ghost_toggleSwitch {
  background-color: rgb(43, 0, 124);
  transition-duration: .2s;
} */

/* ------------------------------------------- */

.primary {
  color-scheme: white;
  color: white
}

.primary:hover {
  color-scheme: blue;
  color: blue;
}

.ghost {
  color-scheme: rgba(128, 128, 128, 0.486);
  color:  rgba(128, 128, 128, 0.486);
}

.ghost:hover {
  color-scheme: rgba(128, 128, 128, 0.486);
  color:  rgba(128, 128, 128, 0.486);
}

.L_Switch {
  min-width: 15px;
}

.L_Switch_Font {
  font-size: 18px;
}

.M_Switch {
  min-width: 13px;
}

.M_Switch_Font {
  font-size: 16px;
}

.S_Switch {
  min-width: 10px;
}

.S_Switch_Font {
  font-size: 14px;
}

.XS_Switch {
  min-width: 6px;
}

.XS_Switch_Font{
  font-size: 12px;
}