/**
 * Основной класс
 */
.Collapse {
  display: flex;

  align-items: center;

  background-color: #02020200;
  border: none;

  max-width: 200px;
  padding: 10px 0px;

  color: rgb(255, 255, 255);
}

/* .Collapse:focus {
  border: 0px solid;
} */
/**
 * Класс Children
 */
.children_Collapse {
  padding: 10px 0px;
  max-width: 400px;
}
/**
 * Форма компонента
 */
.collapseForm_default::after {
  background-color: rgba(128, 128, 128, 0.479);
}

.collapseForm_brick::after {
  background-color: rgba(128, 128, 128, 0.479);
  border-radius: 5px;
}

.collapseForm_round::after {
  background-color: rgba(128, 128, 128, 0.479);
  border-radius: 30px;
}
/**
 * Цвета Collapse
 */
.collapseView_Primary {
  background-color:  #358C00;
  color: #020202;
}

.collapseView_Secondary {
  background: rgba(48, 48, 48, 0.863);
  color: rgb(85, 170, 34);
}

.collapseView_Ghost {
  background: rgba(18, 18, 18, 0.00);
  color: rgb(0, 0, 0);
}

.collapseView_Clear {
  background: rgba(18, 18, 18, 0.00);
}
/**
 * Размер Collapse
 */
.collapseSize_L {
  min-height: 48px;
  min-width: 134px;
  font-size: 18px;
}

.collapseSize_M {
  min-height: 40px;
  font-size: 16px;
  min-width: 111px;
}

.collapseSize_S {
  min-height: 32px;
  font-size: 14px;
  min-width: 87px;
}

.collapseSize_XS {
  min-height: 24px;
  font-size: 12px;
  min-width: 79px;
}
/**
 * Разделитель между заголовком и содержимым
 */
.collapseDivider {
  border-bottom: 1px solid rgba(128, 128, 128, 0.616);
  border-radius: 0;
}
/**
 * боковые отступы
 */
.collapseHorisontalSpace_L {
  padding-left: 100px;
}

.collapseHorisontalSpace_M {
  padding-left: 50px;
}

.collapseHorisontalSpace_S {
  padding-left: 15px;
}

.collapseHorisontalSpace_XS {
  padding-left: 5px;
}