/**
 * Класс label
 */
.labelCheckbox {
  display: flex;
  flex-direction: row;

  gap: 10px;
}
/**
 * Основной класс Checkbox
 */
.Checkbox {
  display: flex;

  width: auto;
  height: auto;

  margin: 0px;
}
/**
 * Стили
 */
.primary_Checkbox {
  color-scheme: white;
  color: white
}

.primary_Checkbox:hover {
  color-scheme: blue;
  color: blue;
}

.ghost_Checkbox {
  color-scheme: rgba(128, 128, 128, 0.486);
  color:  rgba(128, 128, 128, 0.486);
}

.ghost_Checkbox:hover {
  color-scheme: rgba(128, 128, 128, 0.486);
  color:  rgba(128, 128, 128, 0.486);
}
/**
 * Размер
 */
.L_Checkbox {
  width: 15px;
}

.L_Checkbox_Font {
  font-size: 18px;
}

.M_Checkbox {
  width: 13px;
}

.M_Checkbox_Font {
  font-size: 16px;
}

.S_Checkbox {
  width: 10px;
}

.S_Checkbox_Font {
  font-size: 14px;
}

.XS_Checkbox {
  width: 6px;
}

.XS_Checkbox_Font{
  font-size: 12px;
}
