/* TODO: Нужно переименовать Choise => Choice */

/**
 * Общий стиль для группы
 */
.ChoiceGroup {
  display: flex;
}

/**
 * Офромление каждого элемента
 */
.item {
  cursor: pointer;

  padding: 10px 15px;
  min-width: 40px;
}
/**
 * Форма первого элемента в массиве для brich
 */
.brich_FormChoiceGroup:first-child {
  border: 1px solid black;
  border-radius: 30px 0 0 30px;
}

/**
 * Форма последующих элементов в массиве
 */
.brick_FormChoiceGroup {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

/**
 * Форма последнего элемента в массиве
 */
.brick_FormChoiceGroup:last-child {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-radius: 0 30px 30px 0;
}
/**
 * Форма для вмсех элементов
 */
.brick_formChoiceGroup {
  border: 0 solid;
  border-radius: 30px;
}
/**
 * Форма для round (для каждого элемента)
 */
.round_FromChoiceGroup {
  border: 0 solid;
  border-radius: 30px;
}
/**
 * Форма для всех элементов
 */
.round_formChoiceGroup {
  border: 1px solid black;
  border-radius: 30px;
}
/**
 *  Форма первого элемента в массиве для default
 */
.default_FormChoiceGroup:first-child {
  border: 1px solid black;
  border-radius: 30px 0 0 30px;
}
/**
 * Форма последующих элемента в массиве для default
 */
.default_FormChoiceGroup {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
/**
 * Форма последнего элемента в массиве для default
 */
.default_FormChoiceGroup:last-child {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-radius: 0 30px 30px 0;
}
/**
 * Форма для вмсех элементов
 */
.default_formChoiceGroup {
  border: 0 solid;
  border-radius: 30px;
}
/**
 * Размеры
 */
.L_sizeChoiceGroup {
  font-size: 18px;
  min-width: 50px;
}
/**
 * Размер M
 */
.M_sizeChoiceGroup {
  font-size: 16px;
  min-width: 40px;
}
/**
 * Размер S
 */
.S_sizeChoiceGroup {
  font-size: 14px;
  min-width: 30px;
}
/**
 * Размер XS
 */
.XS_sizeChoiceGroup {
  font-size: 10px;
  min-width: 20px;
}
/**
 * Виды
 * Primarly
 */
.primary_viewChoiceGroup {
  background-color:  #358C00;
  color: #FAFAFA;
}
/**
 * secondary
 */
.secondary_viewChoiceGroup {
  background: rgba(250, 250, 250, 0.15);
  color: rgb(85, 170, 34);
}
/**
 * ghost
 */
.ghost_viewChoiceGroup {
  background: rgba(18, 18, 18, 0.00);
}
/**
 * clear
 */
.clear_viewChoiceGroup {
  background: rgba(18, 18, 18, 0.00);
}
/**
 *  Выбранный элемент
 */
.selectedItem_ChoiceGroup {
  background-color: red;
}
/**
 * Активная кнопка для round
 */
.roundOne .selectedItem_ChoiceGroup {
  background-color: red;
  border-radius: 20px;
}
/**
 * Неактивная кнопка
 */
.disabledItem_ChoiceGroup {
  background: gray;
}
/**
 * Неактивные кнопки
 */
.disabled_ChoiceGroup {
  background: gray;
  border-radius: 20px;
}